{% extends 'base.html' %}
{% block content %}
    <h1>Register Page</h1>
    <form action="" method = 'post'>
        <label for="fullname">Fullname</label>
        <input type="text" id="fullname" name="fullname"> <br>
        <label for="phone_number">Phone number</label>
        <input type="text" id="phone_number" name="phone_number"><br>
        <label for=""></label>
        <label for="email">Email</label>
        <input type="text" id = 'email' name = 'email'> <br>
        <label for="birthday">Date of brith</label>
        <input type="date" id="birthday" name="birthday"><br>
        <label for="username">Username</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"><br>
        <label for="repassword">Check pass word 2nd</label>
        <input type="password" id="repassword" name="repassword"><br>
        <input type="submit" value="Create Account">
    </form>
    <p>{{ msg }}</p>
    <a href="{{ url_for('login') }} ">Login</a>

{% endblock %}